<% if user_signed_in? %>
  <li>
  <%= link_to_unless_current('My Profile', dashboard_profile_path) %>
  </li>
<% else %>
  <li>
  <%= link_to_unless_current('Register', new_user_registration_path)  %>
  </li>
<% end %>
