<h2>Your Profile Display Settings <small><%= link_to 'edit', edit_dashboard_display_settings_path %></small></h2>

<p>
  <b>Header Font:</b>
  <%= @settings.header_font %>
</p>

<p>
  <b>Header Font Size:</b>
  <%= @settings.header_font_size %>
</p>

<p>
  <b>Body Font:</b>
  <%= @settings.body_font %>
</p>
