<div class="colright">
  <p>
    We have the capacity to, as a great nation, secure the border. If East Germany could, we could. So that's what we want is a secure and sovereign nation and, you know, I don't know that all of you are Latino. Some of you look a little more Asian to me. These prisons are beautiful properties with basketball courts, bathroom facilities, toilet facilities. Many young people would love to get the hell out of cities.
  </p>
  <%= render partial: 'form' %>
</div>
<div>
  <%= render partial: @profile.photos %>
</div>
