<h2>Your Links <small><%= link_to 'edit', edit_dashboard_links_list_path %></small></h2>
<% LinksList::SITES.each do |site| %>
  <p>
  <strong><%= site.titleize %>:</strong>
  <%= @profile.links_list.send("#{site}_url") %>
  </p>
<% end %>
